<div class="cl-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="why-edit-box">
        <div class="form-group form">
            <input id="auteur0" type="text" placeholder="Nom de l'auteur..." class="form-control" />
            <p id="infos0"></p>
            <button type="button" class="btn btn-primary" onclick="ajouterAuteur()">Ajouter un nouveau auteur</button>
        </div>
    </div>
</div>